// Variables
$title-large: 2.875em;
$title-medium: 2.5em;
$title-small: 1.8em;
$title-small-2: 1.5em;

$title-line-height: 1.15;
$title-letter-spacing: -0.02em;

$text-regular: 1.6rem;
$text-line-height: 1.6;
$text-letter-spacing: -0.02em;

// Base styles
.font-family {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
}

.text-style {
  @extend .font-family;
  font-weight: 400;
  line-height: $text-line-height;
  letter-spacing: $text-letter-spacing;
  font-size: $text-regular;
}

body.default {
  @extend .text-style;
  // Typography
  h1 {
    @extend .font-family;
    color: $font-color;
    font-size: $title-large;
    font-weight: 400;
    line-height: $title-line-height;
    letter-spacing: $title-letter-spacing;
  }

  h2 {
    @extend h1;
    font-size: $title-medium;
  }

  h3 {
    @extend h1;
    font-size: $title-small;
  }

  h4, h5, h6 {
    @extend h1;
    font-size: $title-small-2;
  }
}



// Responsive styles
@media (max-width: 767px) {
  body.default {
    h1 {
      font-size: $title-medium;
    }

    h2 {
      font-size: $title-small;
    }

    h3 {
      font-size: $title-small-2;
    }
  }

}