*, ::after, ::before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  border: 0;
  display: block;
  overflow: hidden;
}

input,
button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}